.control-panel{
    width: 450px;
    min-height: 420px;
    background-color: whitesmoke;
    display: inline-block;
    padding: 0 10px 0 10px;
}

.control-panel .panel-header {
    padding: 10px 20px 10px 0;
    font-weight: 600;
    border-bottom: 2px rgba(126,126,126,0.75) solid;
    display: table;
    font-size: 32px;
    color: #3d3c3c;
    width: 430px;
}
.control-panel .panel-body {
    margin-top: 10px;
}
.panel-body .panel-textfield{
    height: 30px;
    border: 1px rgba(126,126,126,0.75) solid;
    border-radius: 4px;
    width: 98%;
    font-size:18px;
    padding-left: 10px;
    color: #404040;
    font-weight: 400;
    background: #e8e8e8;
    box-shadow: inset 0 0 1px 1px rgba(126, 126, 126, 0.3);
}
.panel-textfield:active {
    border-color: rgba(126,126,126,0.9)
}
.panel-pushbuttonSend{
    height: 30px;
    border: 1px rgba(126,126,126,0.75) solid;
    border-radius: 4px;
    width: 25%;
    font-size:18px;
    padding-top:5px;
    color: #404040;
    font-weight: 400;
    background: #e8e8e8;
    box-shadow: inset 0 0 1px 1px rgba(126, 126, 126, 0.3);
    position: relative;
    left: 70%;
    cursor: pointer;
    text-align: center;
}
.panel-pushbuttonSend:hover{
    opacity: 0.7;
    color:rgb(5, 5, 5)
}
.panel-pushbuttonSend:active{
    opacity: 0.8;
    color:rgb(41, 41, 41)
}