.App{
    display: block;
    font-family: "calibri"!important;
    width: 100%;
}

.default-textfield {
    display: block;
}
.default-pushbutton {
    display: block;
    text-align: center;
    height: 30px;
    border: 1px rgba(126,126,126,0.75) solid;
    border-radius: 4px;
    width: 110px;
    font-size:18px;
    padding-top:5px;
    color: #404040;
    font-weight: 400;
    background: #e8e8e8;
    box-shadow: inset 0 0 1px 1px rgba(126, 126, 126, 0.3);
    cursor: pointer;
}
.default-textfield-label {

}
.default-textfield-fieldname {
    display: inline;
    font-weight: 400;
    font-size: 24px;
    margin-right: 10px;
}
.default-inputCls input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.default-inputCls input[type=number] {
    -moz-appearance: textfield;
}