.App{
    display: block;
    font-family: "calibri"!important;
    width: 100%;
}

.default-textfield {
    display: block;
}
.default-pushbutton {
    display: block;
    text-align: center;
    height: 30px;
    border: 1px rgba(126,126,126,0.75) solid;
    border-radius: 4px;
    width: 110px;
    font-size:18px;
    padding-top:5px;
    color: #404040;
    font-weight: 400;
    background: #e8e8e8;
    box-shadow: inset 0 0 1px 1px rgba(126, 126, 126, 0.3);
    cursor: pointer;
}
.default-textfield-label {

}
.default-textfield-fieldname {
    display: inline;
    font-weight: 400;
    font-size: 24px;
    margin-right: 10px;
}
.default-inputCls input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.default-inputCls input[type=number] {
    -moz-appearance: textfield;
}

.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(109, 109, 109, 0.55);
    z-index: 99999;
}

.modal-content.default-window {
    width: 300px;
    padding: 20px;
    height: 200px;
    position: relative;
    top: 25%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(113,113,113,0.75);
}
.default-window-title {
    font-weight: bold;
    color: #212124;
    font-size: 17px;
    padding-bottom: 10px;
    width: 100%;
    height: 20px;
    border-bottom: 2px solid rgb(113, 113, 133);
}

.default-window {
    padding: 20px;
    width: 300px;
    height: 100px;
    position: relative;
    top: 25%;
    margin: 0 auto;
    overflow: hidden;
    background-color: whitesmoke;
}

.default-window-content{
    padding-top: 10px;
}

